<%- include ('partials/header.ejs'); %>
<body>
  <section class="login">
    <div class="container">
      <div class="row my-5 p-5">
        <div class="col-12 col-lg-6 mx-auto shadow p-5 rounded-3">
          <form class="row" id="loginForm" action="/logar" method="POST">
            <div class="col-12">
              <h2 class="text-center">Login</h2>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input class="form-control" type="email" name="email" id="id_email" placeholder="Informe o email" required>
                <label for="id_email">Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input class="form-control" type="password" name="password" id="id_password" placeholder="Informe o password" required>
                <label for="id_password">Senha</label>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-dark" type="submit">Entrar</button>
            </div>
           </form>
        </div>
      </div>
    </div>
  </section>
</body>
<%- include ('partials/footer.ejs'); %>